@import "tailwindcss";

:root {
  --background: #F7F6F5;
  --foreground: #171717;

  /* DotsCanvas colors */
  --dots-color-gray: #A1A1AA;
  --dots-color-accent: #00A452;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Google Sans Flex', Arial, Helvetica, sans-serif;
  --font-serif: 'Merriweather', Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F6F5;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Google Sans Flex', Arial, Helvetica, sans-serif;
}
